[user]
	name = Andy White
	email = greatwhitehope@gmail.com

[core]
	excludesfile = /Users/awhite/.gitignore_global

[push]
	default = simple

[color]
	ui = true

[alias]
    s = status
    a = add
    b = branch
    co = checkout
    ci = commit
    d = diff
    dt = difftool
    m = merge
    mt = mergetool
    sm = submodule
    cc = rev-parse HEAD
    hist = log --pretty=format:'%H %d | %ad | %an - %s' --graph --date=short
    h = log --pretty=format:'%H %d | %ad | %an - %s' --graph --date=short --all
    type = cat-file -t
    dump = cat-file -p

[diff]
	tool = diffmerge

[difftool]
    prompt = false

[merge]
	tool = diffmerge

[mergetool]
    prompt = false

# SourceGear Diffmerge
[difftool "diffmerge"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge --nosplash \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "diffmerge"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
	trustExitCode = true

# P4Merge (perforce)
[difftool "p4merge"]
	cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "p4merge"]
	cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
	trustExitCode = true

# kdiff3
[difftool "kdiff3"]
	cmd = /Applications/kdiff3.app/Contents/MacOS/kdiff3 \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "kdiff3"]
	cmd = /Applications/kdiff3.app/Contents/MacOS/kdiff3 \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
	trustExitCode = true

# SourceTree (default -> opendiff)
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
