[user]
  name = Andy White
  email = greatwhitehope@gmail.com

[core]
  excludesfile = /Users/awhite/.gitignore_global

[push]
  default = simple

[color]
  ui = true

[alias]
  # common command shortcuts
  s           = status
  a           = add
  b           = branch
  ba          = branch -a
  bm          = branch --merged
  bnm         = branch --no-merged
  bd          = branch -d
  co          = checkout
  com         = checkout master
  ci          = commit
  d           = diff
  dt          = difftool
  m           = merge
  mt          = mergetool
  sm          = submodule
  fa          = fetch --prune --all
  fo          = fetch --prune origin
  fu          = fetch --prune upstream
  mom         = merge origin/master
  mor         = merge origin/release
  mod         = merge origin/dev
  mum         = merge upstream/master
  pushup      = !git push -u origin $(git rev-parse --abbrev-ref HEAD)
  alias       = !git config --list | grep alias | sort | sed 's/^alias\\.//'

  # show "current commit" hash
  cc          = rev-parse HEAD
  ccs         = rev-parse --short HEAD

  # history - log graphs with color and other decorations
  #hist        = log --pretty=format:'%H %d | %ad | %an - %s' --graph --date=short
  #h           = log --pretty=format:'%H %d | %ad | %an - %s' --graph --date=short --all
  h           = log --oneline --decorate --graph --all
  hb          = log --oneline --decorate --graph

  # diff/list/log files that are different in HEAD compared to master
  # or files that are different in master compared to HEAD
  dtom        = diff --name-status master...HEAD
  dfromm      = diff --name-status HEAD...master
  dttom       = difftool master...HEAD
  dtfromm     = difftool HEAD...master
  ltom        = log --oneline --decorate --graph master..HEAD
  lfromm      = log --oneline --decorate --graph HEAD..master
  lm          = log --oneline --decorate --graph --left-right master...HEAD

  # low-level utilities
  type = cat-file -t
  dump = cat-file -p

[diff]
  tool = diffmerge

[difftool]
  prompt = false

[merge]
  tool = diffmerge

[mergetool]
  prompt = false

# SourceGear Diffmerge
[difftool "diffmerge"]
  cmd = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge --nosplash \"$LOCAL\" \"$REMOTE\"
  path = 
[mergetool "diffmerge"]
  cmd = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
  trustExitCode = true

# P4Merge (perforce)
[difftool "p4merge"]
  cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$LOCAL\" \"$REMOTE\"
  path = 
[mergetool "p4merge"]
  cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
  trustExitCode = true

# kdiff3
[difftool "kdiff3"]
  cmd = /Applications/kdiff3.app/Contents/MacOS/kdiff3 \"$LOCAL\" \"$REMOTE\"
  path = 
[mergetool "kdiff3"]
  cmd = /Applications/kdiff3.app/Contents/MacOS/kdiff3 \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
  trustExitCode = true

# SourceTree (default -> opendiff)
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
