[user]
	name = Andy White
	email = greatwhitehope@gmail.com

[core]
	excludesfile = /Users/awhite/.gitignore_global

[push]
	default = simple

[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto

[alias]
    s = status
    a = add
    b = branch
    co = checkout
    ci = commit
    d = diff
    dt = difftool
    m = merge
    mt = mergetool
    sm = submodule
    cc = rev-parse HEAD
    hist = log --pretty=format:'%H %d | %ad | %an - %s' --graph --date=short
    h = log --pretty=format:'%H %d | %ad | %an - %s' --graph --date=short --all
    type = cat-file -t
    dump = cat-file -p

[diff]
	tool = diffmerge

[difftool "diffmerge"]
	cmd = /usr/bin/diffmerge \"$LOCAL\" \"$REMOTE\"

[merge]
	tool = diffmerge

[mergetool "diffmerge"]
	cmd = /usr/bin/diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
	trustExitCode = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
