# Ignore cloned vim plugins
.janus/AutoComplPop
.janus/html5.vim
.janus/jedi-vim
.janus/neocomplcache.vim
.janus/neocomplete.vim
.janus/tagbar
.janus/vaxe
.janus/vim-airline
.janus/vim-gitgutter
.janus/vim-jade
.janus/vim-jsdoc
.janus/vim-jsx
.janus/vim-localvimrc
.janus/vim-indent-guides
.janus/vim-nerdtree-tabs
.janus/vim-nodejs-complete
.janus/vim-stylus

# Private scripts
bin/sauce_hmac.py
