# Ignore cloned vim plugins
.janus/AutoComplPop
.janus/neocomplete.vim
.janus/tagbar
.janus/vaxe
.janus/vim-airline
.janus/vim-gitgutter
.janus/vim-nerdtree-tabs
.janus/vim-jade
.janus/vim-stylus
.janus/vim-localvimrc
.janus/vim-jsdoc
.janus/html5.vim
.janus/jedi-vim
.janus/vim-jsx

# Private scripts
bin/sauce_hmac.py
